::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

.modal input[type=email],
.modal input[type=text],
.modal input[type=date],
.modal input[type=password],
.modal textarea,
.modal select,
.modal input[list=countryList],
.modal input[list=gender],
.modal input[type=checkbox] {
    color: rgba(16, 236, 16, 0.9) !important;
    background-color: transparent !important;
}

.modal select>option {
    color: rgba(0, 0, 0, .8);
}

.modal input[type=date]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    /* margin-right: 2px; */
    opacity: .8;
    filter: invert(0.8);
}

.modal input[type=date]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}

.modal button.rounded-0:hover {
    /* background-color: #4EA09C !important; */
    border-top: transparent;
    border-color: transparent;
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(30, 50, 223), rgb(156, 10, 161)) !important;
}

.modal button[data-dismiss=modal] {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal button[data-dismiss=modal]:hover {
    background-color: #DC3545;
}

.modal input[type=checkbox]:focus {
    outline: 1px solid rgba(255, 250, 250, 0.7);
}

.modal input[type=checkbox] {
    background-color: transparent;
    /* border-radius: 2px; */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 0px;
    outline: 1px solid rgba(255, 250, 250, 0.7);
}

.modal input[type=checkbox]:checked {
    background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAJEAAAAAAP///xDsEP///yH5BAEAAAMALAAAAAALAAoAAAIUnH+CK73WHIsw0UGjglraO20PNhYAOw==") 3px 3px no-repeat;
}
.u-text-1 a:hover,.u-text-1 span:hover{
    color: #570404 !important;
}
a .u-text-2:hover{
    color: #570404 !important;
}